.App {
  margin: auto 10%;
  text-align: center;
}
.stick-bottom {
  position: absolute;
  bottom: 5%;
}

.App__form {
  display: flex;
  width: 80%;
  margin: auto;
}

.App__input {
  flex: 1;
}

.App__send {
  flex: 0;
}

#message-box {
  max-height: 50vh;
  overflow-y: auto;
}

@media (max-width: 512px) {
  .App {
    max-width: 95%;
    margin: auto;
  }
  .App__form{
    width: 95%;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: aliceblue;
}

::-webkit-scrollbar-track {
  background: initial;
}
